.heading {
  margin: 40px 0;
  min-height: 40px;
}

.heading.empty {
  margin: 20px 0;
} 

.heading.moved {
  margin: 30px 0 20px;
} 

.tools {
  height: 48px;
  gap: 20px;
}

.tables {
  padding: 30px 0;
  flex-grow: 1;

  gap: 30px; 
}

.half {
  flex-grow: 1;
  max-width: 50%;
}

.full {
  width: 100%;
}

.pagination {
  padding-bottom: 35px;
}
