.button {
  font-family: var(--brand-font);
  font-size: 16px;

  white-space: nowrap;

  cursor: pointer;
}

.primary {
  background: var(--brand-blue);
  color: white;

  border: none;
  border-radius: 4px;

  padding: 14px 24px;
}

.primary:hover {
  background: var(--brand-blue-hover);
}

.secondary {
  background: white;
  color: var(--brand-blue);

  border: 1px solid var(--brand-blue);
  border-radius: 4px;

  padding: 14px 24px;
}

.secondary:hover {
  color: var(--brand-blue-hover);
  border-color: var(--brand-blue-hover);
}

.ghost {
  background: none;
  border: none;
  color: var(--brand-text);
}

.menu {
  background: none;
  border: none;
  color: var(--brand-text);

  padding: 8px 16px;

  text-align: left;
}

.rc {
  position: relative;
}